<mat-grid-list cols="10" rowHeight="400" >
  <mat-grid-tile colspan="1" >
    <mat-list role="list">
      <mat-list-item style="height: 60px;" role="listitem" *ngFor="let item of currentAnswer;let indexOfelement=index;">{{indexOfelement+1}}.
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" class="TEST">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box"  *ngFor="let item of currentAnswer; let indexOfelement=index" cdkDrag>
        <div id="{{item.name}}">{{item.name}}</div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="6">
  </mat-grid-tile>
</mat-grid-list>

<div id="tipps">
  Du hast noch 3 Versuche!
</div>