<div style="display:flex">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Antwort</mat-label>
        <input matInput id="inputfield" type="text" [(ngModel)]="inputValue">
        <button *ngIf="inputValue" matSuffix mat-icon-button aria-label="Clear" (click)="inputValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    <div style="text-align: right" *ngIf="currentQuestion.imageUrl">
        <!-- <div class="square"> -->
            <img class="image" src="{{currentQuestion.imageUrl}}">
        <!-- </div> -->
        </div>
      </div>

<div id="tipps"></div>