<div class="question-container">
  <div style = "max-height: 45vh">
  <mat-radio-group
    id="radioButtonGroup"
    aria-label="Select an option"
    class="radio-group"
    [(ngModel)]="selectedSolution"
  >
    <mat-radio-button
      value="{{ option }}"
      id="{{ option }}"
      disabled="false"
      class="radio-button"
      *ngFor="let option of currentQuestion.additionalInfos.options"
      >{{ option }}</mat-radio-button
    >

    <!-- <mat-radio-button value="2">Option 2</mat-radio-button> -->
  </mat-radio-group>
</div>
<div style="text-align: right" *ngIf="currentQuestion.imageUrl">
  <!-- <div class="square"> -->
  <img class="image" src="{{ currentQuestion.imageUrl }}" />
  </div>
  <!-- </div> -->
</div>
<div id="tipps">Du hast noch 3 Versuche!</div>
