<mat-grid-list cols="2">
    <mat-grid-tile>
        <div class="map-container">
            <div class="map-frame">
                <div [class]="answerGiven? 'disabled' : 'active'" id="map"></div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="currentQuestion.imageUrl">
        <div class="image-container">
           <img class="image" [src]="currentQuestion.imageUrl"/>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<p class="info-text">{{infoMessage}}</p>
<!-- <div #cursor [class]="answerGiven? 'disabled' : 'active'" class='cursor' id="cursor"></div> -->