.map-container {
  position: absolute;
  top: 12vh;
  left: 5vh;
  right: 0;
  bottom: 0;
  margin: 30px;
  width: 90%;
  height: 55%;
}

.map-frame {
  height: 100%;
  width: 100%
}

#map {
  height: 100%;
  width: 100%;
}

.infoMessage {
  position: absolute;
  bottom: 16vh

}

#map.active {
  cursor: pointer !important;
}


#map.disabled {
  background: red;
  cursor: default !important;
}

#map-question-wrapper {
  display: flex;
}


#cursor.disabled {
  display: none;
}

#cursor.active {
  display: block;
}


.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  background-color:
    white;
  z-index: 10000;
  border: 2px solid white;
  height: 15px;
  width: 15px;
  transition: all 300ms ease-out;
}