.categoriesCard {
    // max-width: 90% !important;
    // max-height: 90% !important; 
    // padding: 10%;
    // margin: 20% !important;
  }

  .categoriePic {
    width: 80%;
    height: 80%;
  }


mat-grid-list{
    max-width: 90% !important;
    max-height: 80% !important; 
}
mat-progress-bar{
    position: absolute;
    bottom: 0;
}

mat-card{
    width: 80% !important;
    height: 80% !important;
    text-align: center;
    cursor: pointer;
}

