
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile class="mat-grid-tile">
      <mat-card id="1" class="categoriesCard" (click)="onCardClicked($event)">
        <mat-card-header>
          <mat-card-title
            class="child"
            >DEMOGRAFIE</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image class="categoriePic" src="../../../assets/images/Demografie.png" />
        </mat-card-content>
  
        <mat-card-footer>
          <!--style="height:10px; background-color: black"-->
          <mat-progress-bar class="barCategory1"></mat-progress-bar>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card id="2" class="categoriesCard" (click)="onCardClicked($event)">
        <mat-card-header>
          <mat-card-title
            class="child"
            >KULTUR</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image class="categoriePic" src="../../../assets/images/Kultur.png" />
        </mat-card-content>
  
        <mat-card-footer>
          <!--style="height:10px; background-color: black"-->
          <mat-progress-bar class="barCategory2"></mat-progress-bar>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card id="3" class="categoriesCard" (click)="onCardClicked($event)">
        <mat-card-header>
          <mat-card-title
            class="child"
            >GEOGRAPHIE</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image class="categoriePic" src="../../../assets/images/Geographie.png" />
        </mat-card-content>
  
        <mat-card-footer>
          <!--style="height:10px; background-color: black"-->
          <mat-progress-bar class="barCategory3"></mat-progress-bar>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card id="4" class="categoriesCard" (click)="onCardClicked($event);">
        <mat-card-header>
          <mat-card-title
            class="child"
            >GESCHICHTE </mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image class="categoriePic" src="../../../assets/images/Geschichte.png" />
        </mat-card-content>
  
        <mat-card-footer>
          <!--style="height:10px; background-color: black"-->
          <mat-progress-bar class="barCategory4"></mat-progress-bar>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  