<mat-grid-list cols="2" >
  <mat-grid-tile>
    <mat-card id="demografieCard" class="categoriesCard" (click)="onCardClicked($event)">
      <mat-card-header>
        <mat-card-title
          class="child"
          style="padding: 10px; text-align: center !important"
          >DEMOGRAFIE</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="../../../assets/images/Demografie.png" />
      </mat-card-content>

      <mat-card-footer>
        <!--style="height:10px; background-color: black"-->
        <mat-progress-bar></mat-progress-bar>
        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card id="demografieCard" class="categoriesCard" (click)="onCardClicked($event)">
      <mat-card-header>
        <mat-card-title
          class="child"
          style="padding: 10px; text-align: center !important"
          >DEMOGRAFIE</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="../../../assets/images/Demografie.png" />
      </mat-card-content>

      <mat-card-footer>
        <!--style="height:10px; background-color: black"-->
        <mat-progress-bar></mat-progress-bar>
        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card id="demografieCard" class="categoriesCard" (click)="onCardClicked($event)">
      <mat-card-header>
        <mat-card-title
          class="child"
          style="padding: 10px; text-align: center !important"
          >DEMOGRAFIE</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="../../../assets/images/Demografie.png" />
      </mat-card-content>

      <mat-card-footer>
        <!--style="height:10px; background-color: black"-->
        <mat-progress-bar></mat-progress-bar>
        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card id="demografieCard" class="categoriesCard" (click)="onCardClicked($event)">
      <mat-card-header>
        <mat-card-title
          class="child"
          style="padding: 10px; text-align: center !important"
          >DEMOGRAFIE</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="../../../assets/images/Demografie.png" />
      </mat-card-content>

      <mat-card-footer>
        <!--style="height:10px; background-color: black"-->
        <mat-progress-bar></mat-progress-bar>
        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
