<div class="mat-typography">
  <nav id="header">
    <!-- <div>
            <mat-icon>home</mat-icon>
        </div> -->
    <div style="padding-top: 20px; padding-left: 3%">
      <!-- <h1 >{{getCategoryName()}}</h1>
            <h2 style="padding: 0%;">Hier kommt dann die Beschreibung der Hauptaufgabe</h2> -->
    </div>
  </nav>
  <!-- <mat-card> -->
  <mat-card-title>Dashboard</mat-card-title>
  <section>
    <!-- <mat-card-content> -->

    <div style="padding-top: 2%; padding-left: 3%">
      <mat-grid-list cols="3" rowHeight="350px">
        <mat-grid-tile class="mat-grid-tile">
          <div>
            <span style="margin-left: 8px; margin-bottom: 5px"
              >Anteil korrekter Antworten</span
            >
            <canvas id="myChart4"></canvas>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="mat-grid-tile">
          <div>
            <span style="margin-left: 8px">Zeit pro Frage</span>
            <canvas id="myChart5"></canvas>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="mat-grid-tile">
          <div>
            <span style="margin-left: 8px">Versuche pro Frage</span>
            <canvas id="myChart6"></canvas>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div style="margin-top: 15px">

      <span style="margin-left: 8px">Gesamtübersicht der Quiz:</span>

      <mat-grid-list cols="3" rowHeight="40vh">

        <mat-grid-tile colspan="1">
          <div>
            <div>
              <label style="font-weight: bold">Anzahl der Quiz insgesamt: </label>
              <label class="bigFont"> {{ quizHistory_Demografie.length + quizHistory_Kultur.length + quizHistory_Geographie.length + quizHistory_Geschichte.length }}</label>
            </div>
            <div style="margin-top: 5%">
              <div style="margin-left: 16px">
                <label>davon Kultur:</label>
                <label style="font-weight: bold"> {{quizHistory_Kultur.length}}</label>
              </div>
              <div style="margin-left: 16px">
                <label>davon Geschichte:</label>
                <label style="font-weight: bold"> {{quizHistory_Geschichte.length}}</label>
              </div>
              <div style="margin-left: 16px">
                <label>davon Demografie:</label>
                <label style="font-weight: bold"> {{quizHistory_Demografie.length}}</label>
              </div>
              <div style="margin-left: 16px">
                <label>davon Geographie:</label>
                <label style="font-weight: bold"> {{quizHistory_Geographie.length}}</label>
              </div>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <div style="position: relative; height: 40vh; width: 100%!important;">
            <canvas id="myChart7"></canvas>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <!-- </mat-card-content> -->
  </section>
  <!-- <footer id="footer"> -->
  <!-- <mat-card-footer>

    </mat-card-footer>
    </mat-card> -->
</div>
